/* --------- import ---------- */
@import "variables";

/* --------- Header ----------- */
header {
	position: relative;
	background: $secondary-color;
	color: #fff;
	min-height: 63px;
	z-index: 50;
	text-align: center;
	h1 {
		font-size: 2.7em;
		width: 180px;
		left: 50%;
		margin-left: -90px;
		position: relative;
	}
	nav {
		left: 0;
		top: 0;
		width: 100%;
		z-index: 4;
		
		/* ------- Hamburger Menu ------- */
		#hamburger {
			display: none;
			&:checked {
				~ #menu {
					height: auto;
				}
				~ .menuicon {
					span {
						background-color: rgba(0,0,0,0);
						&::before, &::after {
							margin-top: 0;
							@include transDel(0, $animationShort);
						}
						&::before {
							@include transfrm(45deg);
						}
						&::after {
							@include transfrm(-45deg);
						}
					}
				}
			}
		}
		
		
		
		#menu {
			padding-left: 0;
			width: 100%;
			@include flexbox();
			overflow:hidden;
			background-color: $secondary-color;
			height: 0;
			position: absolute;
			flex-flow: column nowrap;
			#username {
				background: $secondary-color;
				color: #fff;
			}
			.menuItem {
				background-color: #534545;
				padding: 10px;
				color: #FFF;
				&:hover {
					background: $primary-color;
					color: $secondary-color;
				}
			}
			.accordion {
				input {
					display: none;
					&:checked {	
						~ label::before {
							@include transfrm(90deg);
						}
						~ article {
							background: $sec-comp-color;
							height: auto;
							margin-bottom: .125em;
							@include flexbox();
							a:hover {
								background: $primary-color;
								color: $secondary-color;
							}
						}
					}
				}
				label {
					cursor: pointer;
					display: block;
					z-index: 20;
					&::before {
						content:"\25B7";
						position: absolute;
						display: inline-block;
						margin-left: -25px;
					}
				}
				article {
					background: #fff;
					display: none;
					overflow: hidden;
					z-index: 10;
					flex-flow: column;
					padding: 10px;
					a {
						padding: 10px;
					}
				}
			}
		}
		.menuicon {
			position: absolute;
			top: 20px;
			left: 10px;
			display: block;
			cursor: pointer;
			height: $baseMargin*2 + $lineWidth;
			width: $lineLength;
			z-index: 100;
			span {
				display: block;
				top: $baseMargin;
				width: $lineLength;
				height: $lineWidth;
				background-color: #fff;
				position: relative;
				@include transDur($animationShort);
				@include transDel($animationNone);
				&::before, &::after {
					display: block;
					content: "";
					position: absolute;
					width: $lineLength;
					height: $lineWidth;
					background-color: #fff;
					-webkit-transition-property: margin, -webkit-transform;
					@include transDur($animationShort);
					@include transDel($animationShort, 0);
				}
				&::before {
					margin-top: -$baseMargin;
				}
				&::after {
					margin-top: $baseMargin;
				}
			}
		}
	}
}

.search {
	position: absolute;
	width: 150px;
	height: 25px;
	padding: 3px 20px 3px 10px;
	right: 70px;
	font-size: 1.1em;
	border: none;
	top: 15px;
	color: #000;
}

#submit {
	position: absolute;
	right: 10px;
	top: 15px;
	height: 25px;
	padding: 3px 10px;
	border-radius: 0;
	border: none;
}

//@import "media";