/* --------- import ---------- */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
/* --------- Header ----------- */
header {
  position: relative;
  background: #433A3A;
  color: #fff;
  min-height: 63px;
  z-index: 50;
  text-align: center; }
  header h1 {
    font-size: 2.7em;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    position: relative; }
  header nav {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    /* ------- Hamburger Menu ------- */ }
    header nav #hamburger {
      display: none; }
      header nav #hamburger:checked ~ #menu {
        height: auto; }
      header nav #hamburger:checked ~ .menuicon span {
        background-color: transparent; }
        header nav #hamburger:checked ~ .menuicon span::before, header nav #hamburger:checked ~ .menuicon span::after {
          margin-top: 0;
          -webkit-transition-delay: 0, 0.1s;
          -moz-transition-delay: 0, 0.1s;
          -ms-transition-delay: 0, 0.1s;
          -o-transition-delay: 0, 0.1s;
          transition-delay: 0, 0.1s; }
        header nav #hamburger:checked ~ .menuicon span::before {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        header nav #hamburger:checked ~ .menuicon span::after {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    header nav #menu {
      padding-left: 0;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      background-color: #433A3A;
      height: 0;
      position: absolute;
      flex-flow: column nowrap; }
      header nav #menu #username {
        background: #433A3A;
        color: #fff; }
      header nav #menu .menuItem {
        background-color: #534545;
        padding: 10px;
        color: #FFF; }
        header nav #menu .menuItem:hover {
          background: #F0EFE9;
          color: #433A3A; }
      header nav #menu .accordion input {
        display: none; }
        header nav #menu .accordion input:checked ~ label::before {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }
        header nav #menu .accordion input:checked ~ article {
          background: #352E2E;
          height: auto;
          margin-bottom: .125em;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          header nav #menu .accordion input:checked ~ article a:hover {
            background: #F0EFE9;
            color: #433A3A; }
      header nav #menu .accordion label {
        cursor: pointer;
        display: block;
        z-index: 20; }
        header nav #menu .accordion label::before {
          content: "\25B7";
          position: absolute;
          display: inline-block;
          margin-left: -25px; }
      header nav #menu .accordion article {
        background: #fff;
        display: none;
        overflow: hidden;
        z-index: 10;
        flex-flow: column;
        padding: 10px; }
        header nav #menu .accordion article a {
          padding: 10px; }
    header nav .menuicon {
      position: absolute;
      top: 20px;
      left: 10px;
      display: block;
      cursor: pointer;
      height: 21px;
      width: 25px;
      z-index: 100; }
      header nav .menuicon span {
        display: block;
        top: 8px;
        width: 25px;
        height: 5px;
        background-color: #fff;
        position: relative;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s; }
        header nav .menuicon span::before, header nav .menuicon span::after {
          display: block;
          content: "";
          position: absolute;
          width: 25px;
          height: 5px;
          background-color: #fff;
          -webkit-transition-property: margin, -webkit-transform;
          -webkit-transition-duration: 0.1s;
          -moz-transition-duration: 0.1s;
          -ms-transition-duration: 0.1s;
          -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
          -webkit-transition-delay: 0.1s, 0;
          -moz-transition-delay: 0.1s, 0;
          -ms-transition-delay: 0.1s, 0;
          -o-transition-delay: 0.1s, 0;
          transition-delay: 0.1s, 0; }
        header nav .menuicon span::before {
          margin-top: -8px; }
        header nav .menuicon span::after {
          margin-top: 8px; }

.search {
  position: absolute;
  width: 150px;
  height: 25px;
  padding: 3px 20px 3px 10px;
  right: 70px;
  font-size: 1.1em;
  border: none;
  top: 15px;
  color: #000; }

#submit {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 25px;
  padding: 3px 10px;
  border-radius: 0;
  border: none; }

/*# sourceMappingURL=header.css.map */
