/* Scss Document */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
#information {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #information span {
    color: #D1481B; }
  #information .text-wrap {
    flex: 2; }

#pictures {
  background: transparent; }
  #pictures #frame {
    width: 125.5%;
    position: relative;
    left: -13%;
    top: -20px;
    overflow: hidden; }
    #pictures #frame img {
      width: 100%; }

.extra {
  display: block; }

.video-container {
  position: relative;
  width: 100%;
  max-width: 520px;
  flex: 1; }
  .video-container .trailer {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%; }

@media screen and (max-width: 1160px) {
  #information {
    display: block; }

  .video-container {
    margin-top: 30px;
    max-width: none;
    height: 400px; }
    .video-container .trailer {
      position: relative; } }
@media screen and (min-width: 980px) {
  #pictures #frame {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #pictures #frame #theIntouchablesPicture1 {
      flex: 2; }
    #pictures #frame #theIntouchablesPicture2 {
      flex: 1; }
    #pictures #frame #theIntouchablesPicture3 {
      flex: 2; } }

/*# sourceMappingURL=movie.css.map */
