/* --------- VARIABLES -------- */
@import "variables";
/* -------- Main configuration --------- */

* {
	margin: 0;
	font-family: $font-stack;
	font-weight: $font-weight;
	list-style: none;
}

body {
	background: $primary-color;
	width: $full-page-width;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

p {
	margin-bottom: 20px;
}


/* ----------- Heading ------------- */


/*.menuSearch {
	display: none;
}*/

/* ----------- Main Content ------------- */

main {
	position: relative;
	width: $nearly-full-width;
	margin: auto;
	#sidebox {
		display: none;
		&:checked ~ #rutine {
			right: 0;
			> .sidebox-label {
				color: #000;
				background: #fff;
				&:hover {
					background: $sec-highlight;
					color: #fff;
				}
			}
		}
	}
	#rutine {
		position: fixed;
		width: 220px;
		right: -270px;
		z-index: 3;
		border: 1px solid #433a3a;
		border-bottom: 2px solid #433a3a;
		background: $primary-color;
		@include transDur($animationLong);
		@include transDel($animationShort);
		.sidebox-label {
			position: relative;
			right: 112px;
			width: 40px;
			text-align: center;
			background: $secondary-color;
			color: white;
			padding: 20px;
			border: 1px solid #433a3a;
			border-bottom: 2px solid #433a3a;
			box-shadow: 2px 5px 4px #ccc;
			@include transDur($animationShort);
			&:hover {
				background: $sec-highlight;
			}
		}
		.sidebox-x {
			right: 5px;
			position: absolute;
			top: 0;
			background: transparent;
			color: #000;
			z-index: 4;
			cursor: pointer;
			&:hover {
				background: $sec-highlight;
				color: #fff;
			}
		}
	}
	section, aside {
		background: #fff;
		width: $full-page-width;
		margin-bottom: 30px; 
		padding: 20px;
		margin-left:-20px; 
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			a {
				margin-right: $img-size-width/3;
			}
		}
		h2 {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	a {
		width: $img-size-width;
		height: $img-size-height*1.4;
		display: inline-block;
		position: relative;
		&:nth-child(2n+2){
			margin: 0;
		}
		&::after {
			content:"";
			background: rgba(255,255,255,0.35);
			width: $img-size-width;
			height: $img-size-height;
			position: absolute;
			top: 0;
			opacity: 1;
			@include transDur($animationShort);
			@include transDel($animationNone);
		}
		&:hover:after {
			opacity: 0;
		}
		&:hover + .info {
			display: block;
		}
		.info {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			top: 0;
			left: 0;
			
		}
		img {
			width: $img-size-width;
			height: $img-size-height;
		}
		span {
			display: block;
			color: #000;
		}
	}
	
	/* ---------- Pictures -------- */
	
}

/* ----------- Footer ----------- */

footer {
	background: $secondary-color;
	height: 100px;
	width: 100%;
	position: relative;
	bottom: 0;
	color: #fff;
}
