/* --------- VARIABLES -------- */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
/* -------- Main configuration --------- */
* {
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: lighter;
  list-style: none; }

body {
  background: #F0EFE9;
  width: 100%; }

h1 {
  font-weight: bold;
  font-size: 2em; }

a {
  color: #fff;
  text-decoration: none; }

a:visited {
  color: #fff; }

p {
  margin-bottom: 20px; }

/* ----------- Heading ------------- */
/*.menuSearch {
	display: none;
}*/
/* ----------- Main Content ------------- */
main {
  position: relative;
  width: 80%;
  margin: auto;
  /* ---------- Pictures -------- */ }
  main #sidebox {
    display: none; }
    main #sidebox:checked ~ #rutine {
      right: 0; }
      main #sidebox:checked ~ #rutine > .sidebox-label {
        color: #000;
        background: #fff; }
        main #sidebox:checked ~ #rutine > .sidebox-label:hover {
          background: #665454;
          color: #fff; }
  main #rutine {
    position: fixed;
    width: 220px;
    right: -270px;
    z-index: 3;
    border: 1px solid #433a3a;
    border-bottom: 2px solid #433a3a;
    background: #F0EFE9;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
    main #rutine .sidebox-label {
      position: relative;
      right: 112px;
      width: 40px;
      text-align: center;
      background: #433A3A;
      color: white;
      padding: 20px;
      border: 1px solid #433a3a;
      border-bottom: 2px solid #433a3a;
      box-shadow: 2px 5px 4px #ccc;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -ms-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s; }
      main #rutine .sidebox-label:hover {
        background: #665454; }
    main #rutine .sidebox-x {
      right: 5px;
      position: absolute;
      top: 0;
      background: transparent;
      color: #000;
      z-index: 4;
      cursor: pointer; }
      main #rutine .sidebox-x:hover {
        background: #665454;
        color: #fff; }
  main section, main aside {
    background: #fff;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: -20px; }
    main section ul, main aside ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative; }
      main section ul a, main aside ul a {
        margin-right: 33.33333px; }
    main section h2, main aside h2 {
      text-align: center;
      margin-bottom: 30px; }
  main a {
    width: 100px;
    height: 186.2px;
    display: inline-block;
    position: relative; }
    main a:nth-child(2n+2) {
      margin: 0; }
    main a::after {
      content: "";
      background: rgba(255, 255, 255, 0.35);
      width: 100px;
      height: 133px;
      position: absolute;
      top: 0;
      opacity: 1;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -ms-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    main a:hover:after {
      opacity: 0; }
    main a:hover + .info {
      display: block; }
    main a .info {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      top: 0;
      left: 0; }
    main a img {
      width: 100px;
      height: 133px; }
    main a span {
      display: block;
      color: #000; }

/* ----------- Footer ----------- */
footer {
  background: #433A3A;
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
